body{
    background-color: black;
}

.dashDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px
}

.logoutBtn{
    width: 70px;
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}